<!DOCTYPE html>
<html>
<head>
  <title>Trainspotter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= Trainspotter.stylesheet_link_tag "application" %>
  <%= Trainspotter.javascript_importmap_tags "application", {
    "@hotwired/turbo" => "https://cdn.jsdelivr.net/npm/@hotwired/turbo@8/+esm"
  } %>
</head>
<body>

<%= yield %>

</body>
</html>
