<!DOCTYPE html>
<html>
<head>
  <title>Trainspotter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= engine_stylesheet_link_tag "application" %>
  <script type="module">
    import * as Turbo from "https://cdn.jsdelivr.net/npm/@hotwired/turbo@8/+esm"
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
