<!DOCTYPE html>
<html>
<head>
  <title>Trainspotter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= engine_stylesheet_link_tag "application" %>
  <%= engine_javascript_importmap_tags "application", {
    "@hotwired/stimulus" => "https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3/+esm"
  } %>
</head>
<body>

<%= yield %>

</body>
</html>
